site_name: Susa CLI
site_description: Sistema de CLI em Shell Script para automação de tarefas diárias e instalação de software
site_author: Carlos Dorneles
site_url: https://carlosdorneles-mb.github.io/susa

repo_name: carlosdorneles-mb/susa
repo_url: https://github.com/carlosdorneles-mb/susa
edit_uri: edit/main/cli/docs/

theme:
  name: material
  language: pt
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/lightbulb-auto
        name: Mude para o modo claro
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: black
      accent: orange
      toggle:
        icon: material/lightbulb
        name: Mude para o modo escuro
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: black
      accent: orange
      toggle:
        icon: material/lightbulb-outline
        name: Mude para as preferências do sistema
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.footnote.tooltips
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

plugins:
  - tags
  - include-markdown
  - search:
      lang: pt
  - awesome-pages
  - glightbox
  - panzoom:
      full_screen: true
      key: "ctrl"

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/carlosdorneles-mb/susa
