{
  "recommendations": [
    "mads-hartmann.bash-ide-vscode",
    "foxundermoon.shell-format",
    "timonwong.shellcheck",
    "editorconfig.editorconfig",
    "davidanson.vscode-markdownlint",
  ]
}
